/*
  Status app for Webasyst
  Copyright 1312 Inc.
  */

.icon16.color { width: 13px; height: 13px; border: none; margin: 1px; }

.s-status { border-radius: 0.5em; background: #aaa; padding: 0px 6px 1px; font-size: 0.8em; color: #fff; }

.s-navigation { margin-top: 17px; }
.s-summary { }
.s-title { margin: 10px 26px; }

.s-color-gray { background: #aaa !important; }
.s-color-gray1 { background: #aaa !important; }
.s-color-gray2 { background: #777 !important; }
.s-color-gray3 { background: #333 !important; }
.s-color-green1 { background: #36ef53 !important; }
.s-color-green2 { background: #4dd963 !important; }
.s-color-green3 { background: #10a828 !important; }
.s-color-blue1 { background: #59c7fa !important; }
.s-color-blue2 { background: #0b90ed !important; }
.s-color-blue3 { background: #0268af !important; }
.s-color-red1 { background: #ff2e54 !important; }
.s-color-red2 { background: #d70128 !important; }
.s-color-red3 { background: #91051f !important; }
.s-color-yellow1 { background: #ffcc00 !important; }
.s-color-yellow2 { background: #dbb313 !important; }
.s-color-yellow3 { background: #a38408 !important; }
.s-color-purple { background: #5757d6 !important; }
.s-color-brown { background: #996e4d !important; }
.s-color-orange { background: #ff9400 !important; }
.s-color-none { background: #ddd !important; }

.field .value a.selected .icon16.color { border: 3px solid rgba(0,0,0,0.8); }

/* Check-in Details
------------------- */

.s-logged-apps { min-height: 1rem; }
.s-logged-app-counter { display: inline-block; margin-right: 1rem; }
i.icon16.s-app-icon { background-size: 16px 16px; }

.s-timeline { width: 100%; height: 2px; background: #ddd; position: relative; margin: 10px 0 20px; }
.s-timeline .s-timeline-content { z-index: 3; position: absolute; top: -2px; bottom: -2px; background: rgb(209,59,179); background: linear-gradient(90deg, rgba(209,59,179,1) 0%, rgba(52,203,254,1) 100%, rgba(255,255,255,1) 100%); }
.s-timeline .s-timeline-content-empty { z-index: 0; position: absolute; top: -2px; bottom: -2px; left: 0; right: 0; background: transparent;}

.s-timeline.s-timeline-exp { height: 25px; background: rgba(0,0,0,0.06125); margin-top: -3px; }
.s-timeline.s-timeline-exp .s-timeline-content { top: 8px; bottom: 7px; border-radius: 6px; }
.s-timeline.s-timeline-exp .s-timeline-content.s-timeline-trace { z-index: 1; background: rgba(0,0,0,0.05); top: 0; bottom: 0; border-radius: 0; min-width: 2px; }
.s-timeline.s-timeline-exp .s-timeline-content.s-timeline-action-mark { z-index: 2; width: 2px; background: black; top: 0; bottom: 0; border-radius: 0; }
.s-timeline.s-timeline-exp .s-timeline-content.s-timeline-action-mark:hover { width: 4px; margin-left: -1px; transition: 0.2s; }

.s-timeline-dial { width: 100%; display: block; }
.s-timeline-dial i { position: absolute; z-index: 0; top: 30px; font-size: 10px; color: #bbb; font-style: normal; margin-left: -4px; }
.s-timeline-dial i.tick { width: 1px; height: 4px; top: 33px; background: #ccc; margin-left: 0; }
.s-timeline-dial i.day { color: #bbb; font-weight: bold; }

.s-day { background: #fff; margin: 0 225px 0px 25px; padding: 10px 10px 5px; display: flex; }
.s-day .s-day-date { flex: 0 0 170px; }
.s-day .s-day-summary { flex: 1; }
.s-day .s-day-summary-timeline {  }
.s-day .s-day-summary-user-report p { font-size: 0.9em; margin-bottom: 10px; }
.s-day .s-day-summary-user-report .s-author { display: flex; margin-bottom: 7px; }
.s-day .s-day-summary-user-report .s-author .s-username { flex: 1; }
.s-day .s-day-summary-user-report .s-author .s-logged-apps { flex: 0 0 auto; }
.s-day .s-day-total { flex: 0 0 100px; text-align: center; font-size: 1.1em; }
.s-day.s-this-week { background: #f3f3f3; }
.s-day.s-editable:hover { background: #f7f7f7; cursor: pointer; }
.s-day.s-editable.s-this-week:hover { background: #e7e7e7; }
/* .s-day .s-timeline-dial { display: none; } */
.s-day:hover .s-timeline-dial { display: block; }

.s-checkins { flex: 1; }
.s-checkin { display: flex; }

/* Week Summary
--------------- */

.s-week-divider { margin: 90px 35px 30px; }
.s-week-divider h5 { border-bottom: 1px solid #eee; padding-bottom: 10px; }

.s-week-summary { float: right; width: 200px; text-align: center; }
.s-week-summary .s-week-projects { line-height: 1.3rem; text-align: left; display: inline-block; margin-top: 1rem; }
.s-week-summary.s-this-week { padding-top: 12px; }

.s-donut-chart-container { overflow: hidden; }
.s-donut-chart { position: relative; width: 150px; height: 150px; margin: 2rem auto 1rem; border-radius: 100%; }
.s-donut-chart .center { background: #fff; position: absolute; top: 20px; left: 20px; height: 65px; width: 110px; border-radius: 70px; font-size: 1.3rem; font-weight: bold; padding-top: 45px; }
.s-donut-chart .clip { border-radius: 50%; clip: rect(0px, 150px, 150px, 75px); height: 100%; position: absolute; width: 100%; }
.s-donut-chart .item { border-radius: 50%; clip: rect(0px, 75px, 150px, 0px); height: 100%; position: absolute; width: 100%; font-family: monospace; font-size: 1.5rem; background: #eee; /* background-image: linear-gradient(45deg, #e3e3e3 25%, #f3f3f3 25%, #f3f3f3 50%, #e3e3e3 50%, #e3e3e3 75%, #f3f3f3 75%, #f3f3f3 100%); background-size: 13px 13px; */ }

/* Day Editor
------------- */

.s-status-selector { width: 200px !important; }

.s-tomorrow-planner { background: #eee; margin: 10px 225px 0px 25px; padding: 6px 10px 1px; border-top-left-radius: 2px; border-radius-top-right: 2px; cursor: default; }
.s-tomorrow-planner h3 { padding: 1px; color: #888; font-size: 1.4rem; }
.s-tomorrow-planner ul.menu-h.dropdown li:hover { background: transparent; }
.s-tomorrow-planner .s-editor-status { margin-top: -2px; }

.s-editor { margin: 0 215px 0 15px; z-index: 1; position: relative; }
.s-editor ul.menu-h.dropdown li:hover { background: transparent; }
.s-editor-status { border-radius: 1rem; background: rgba(0,0,0,0.05); color: #aaa; padding: 5px 6px 5px 10px !important; }
.s-editor .s-duration-label { font-size: 0.9em; color: #888; border-radius: 2px; padding: 1px 2px 2px; }
.s-editor .s-duration-input { display: none; width: 2rem; font-size: 0.9em; margin-top: -4px; }
.s-editor .s-checkin-reminder { color: #f50; font-weight: bold; }
.s-editor-slider { padding: 20px 0 10px; display: flex; width: 100%; }
.s-editor-slider form { overflow: visible; }
.s-editor-slider .s-editor-slider-total { flex: 0 0 100px; text-align: center; }
.s-editor-slider .s-editor-slider-total h2 { color: #555; }
.s-editor-slider .s-editor-slider-control { flex: 1; padding-top: 10px; }
.s-editor-slider .s-editor-slider-projects { margin-top: 25px; line-height: 1.5rem;}
.s-editor-slider .s-editor-slider-projects label.s-editor-project { margin-right: 1rem; color: #aaa; white-space: nowrap; }
.s-editor-slider .s-editor-slider-projects label.s-editor-project i.icon16.color { display: none; }
.s-editor-slider .s-editor-slider-projects label.s-editor-project .s-editor-project-share { display: none; padding: 2px 5px; border-radius: 4px; }
.s-editor-slider .s-editor-slider-projects label.s-editor-project.selected { color: #000; font-weight: bold; }
.s-editor-slider .s-editor-slider-projects label.s-editor-project.selected i.icon16.color { display: inline-block; }
.s-editor-slider .s-editor-slider-projects label.s-editor-project.selected .s-editor-project-share { display: inline; }
.s-editor-slider .s-editor-slider-projects label.s-editor-project.selected .s-editor-project-share .s-duration-label { color: #fff; }
.s-editor-slider .s-editor-slider-break { flex: 0 0 150px; text-align: center; padding-top: 3px; }
.s-editor-slider .s-editor-slider-more { flex: 0 0 auto; padding-top: 3px; }
.s-editor-summary {}
.s-editor-summary textarea.s-editor-comment { width: 100%; outline: 0 none; -webkit-appearance: none; border: 0; font-size: 1.1em; min-height: 5rem; }
.s-editor-summary textarea.s-editor-comment:disabled { background: transparent; }
.s-editor-summary .s-logged-apps { border-top: 1px solid #eee; padding-top: 20px; }
.s-editor-summary .s-editor-commit { float: right; padding-top: 20px; }
.s-editor-summary .s-editor-commit .s-editor-commit-button { margin-top: -9px; display: none; }
.s-editor-summary .s-editor-commit .s-editor-commit-indicator { display: none; }

.s-editor-slider-slider.ui-slider { width: 100%; }
.s-editor-slider-slider.ui-slider .ui-slider-range { top: -4px; height: 12px; background: #ccc; background-image: linear-gradient(135deg, #eee 0%, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%, #fff 100%); background-size: 13px 13px; box-shadow: 0 2px 5px -2px rgba(0,0,0,0.25); }
.s-editor-slider-slider.ui-slider .ui-slider-handle::after { position: absolute; bottom: 25px; font-size: 13px; font-family: 'Helvetica Neue', 'Liberation Sans', Arial, sans-serif; color: #888; font-weight: bold; }
.s-editor-slider-slider.ui-slider.s-active .ui-slider-range { background: rgb(209,59,179); background: linear-gradient(90deg, rgba(209,59,179,1) 0%, rgba(52,203,254,1) 100%, rgba(255,255,255,1) 100%); }
.s-editor-slider-slider.ui-slider .ui-slider-handle::after { content: attr(data-slider-time); }
.s-editor-slider-slider.ui-slider.ui-state-disabled { opacity: 1; }

.s-editor-slider.s-editor-slider-exp .ui-slider-horizontal { height: 25px; background: rgba(0,0,0,0.075); position: relative; box-shadow: 0 1px 5px -3px rgba(0,0,0,0.2) inset; overflow: hidd1en; }
.s-editor-slider.s-editor-slider-exp .s-editor-slider-control { padding-top: 0; position: relative; }
.s-editor-slider.s-editor-slider-exp .s-editor-slider-slider.ui-slider .ui-slider-range { top: 7px; z-index: 3; }
.s-editor-slider.s-editor-slider-exp .s-editor-slider-slider.ui-slider .ui-slider-handle { top: 4px; z-index: 4; }
.s-editor-slider.s-editor-slider-exp .s-editor-slider-slider .s-editor-slider-helpers { position: absolute; top: 0; bottom: 0; left: 0; right: 2%; }
.s-editor-slider.s-editor-slider-exp .s-editor-slider-slider .s-editor-slider-helpers .s-timeline-trace { position: absolute; z-index: 1; background: rgba(0,0,0,0.05); top: 0; bottom: 0; border-radius: 0; min-width: 2px; }

.icon16.s-trace-total-online { background: rgba(0,0,0,0.13); border-radius: 2px; width: 10px; height: 10px; margin-top: 3px; }

.s-editor-slider.s-editor-slider-exp .s-editor-slider-slider .s-editor-slider-helpers .s-timeline-action-mark { position: absolute; z-index: 2; width: 2px; background: black; top: 0; bottom: 0; border-radius: 0; }
.s-editor-slider.s-editor-slider-exp .s-editor-slider-slider .s-editor-slider-helpers .s-timeline-action-mark:hover { width: 4px; margin-left: -1px; transition: 0.2s; }

.s-walog-explained .fields { margin-top: 10px; }
.s-walog-explained .activity-target { display: inline; }

.s-reports-timeframe ul.menu-h.dropdown { display: inline-block; }
.s-reports-timeframe ul.menu-h.dropdown ul { width: 200px; left: auto; right: 0px; }
.s-reports-timeframe input { width: 100px; }
.s-reports-flexbox { display: flex; margin-top: 10px; }
.s-reports-table { flex: 1; margin: 0 31px 20px; min-width: 250px; }
.s-reports-table table.light tr:hover td { background: #f2f7ff; }
.s-reports-table table.light thead th { padding-bottom: 5px; }
.s-reports-table table.light tr.s-subrow td { padding-left: 26px; }
