<section>
    <div class="dialog-content">
        <div data-status-wrapper="status-settings-dialog">
            <input type="hidden" name="status[date]" value="{$date}"/>
            <h1>[`Custom status`]</h1>

            <div class="fields form">
                <div class="field-group">
                    <div class="field">
                        <div class="name nowrap">
                            [`Status label`]
                        </div>
                        <div class="value">
                            <input type="text" class="bold" name="status[summary]" placeholder="[`Working remotely`]" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name nowrap">
                            [`Calendar`]
                        </div>
                        {foreach $statuses as $status}
                            <div class="value no-shift">
                                <label>
                                    <input type="radio" name="status[calendar_id]" value="{$status->getCalendarId()}"/>
                                    <i class="icon16 color" style="background-color: {$status->getBgColor()}"></i>
                                    {$status->getName()|escape}
                                </label>
                            </div>
                        {/foreach}
                        <div class="value no-shift">
                            <p class="hint">[`The status will be automatically linked with the selected calendar in the Team app.`]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog-buttons">
        <input type="submit" value="[`Save`]" class="button green"/> [`or`] <a class="cancel" href="#">[`cancel`]</a>
    </div>
</section>
