{if $ui == 2.0}
<link href="{$wa_app_static_url}css/status.css" rel="stylesheet" type="text/css" />
<div class="s-widget-{$widget_id}">

    <div class="flexbox middle custom-p-16">
        <div class="flexbox middle space-8 wide">
            <img src="{$wa_app_static_url}img/status.png" style="width: 1.25rem; height: 1.25rem;" alt="" />
            <div class="nowrap">
                {if $group.id}
                    <strong title="{$group.name|escape}">{$group.name|escape|truncate:20}</strong>
                {else}
                    <strong class="gray uppercase">[`Status`]</strong>
                {/if}
            </div>
        </div>
        <div class="toggle smallest">
            <span data-rel="today" class="selected">[`Today`]</span>
            <span data-rel="yesterday">[`Yesterday`]</span>
        </div>

        <script>
            (function ($) {

                function setAutoToggle () {
                    if (typeof sInterval_{$widget_id} !== 'undefined') {
                        clearInterval(sInterval_{$widget_id});
                    }

                    sInterval_{$widget_id} = setInterval(function () {
                        if ($('.s-widget-{$widget_id}:hover').length === 0) {
                            $(".s-widget-{$widget_id} .toggle span:not(.selected)").trigger('click');
                        }
                    }, 10000);
                }

                $(".s-widget-{$widget_id} .toggle").waToggle({
                    change: function (event, target) {
                        setAutoToggle();
                        $('.s-widget-{$widget_id} .s-widget-dayinfo').hide();
                        $('.s-widget-{$widget_id} .s-widget-dayinfo[data-ref=' + $(target).data('rel') + ']').show();
                    }
                });

                setAutoToggle();

            })(jQuery);
        </script>
    </div>

    <div style="position: absolute;top: 3.4rem;right: 1rem;bottom: 0;left: 1rem;">
        <div class="s-widget-dayinfo" data-ref="today">
            {include file='./DayInfo.html' dayDto=$todayDto}
        </div>
        <div class="s-widget-dayinfo" data-ref="yesterday" style="display: none;">
            {include file='./DayInfo.html' dayDto=$yesterdayDto}
        </div>
    </div>

</div>

<script>
    (function () {
        setTimeout(function () {
            try {
                DashboardWidgets[{$widget_id}].renderWidget();
            } catch (e) { }
        }, 10 * 60 * 1000);
    })();
</script>

{else}

  <div class="block">
    <div class="align-center hint" style="font-size: 1rem;width: 80%;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);">[`SwitchToWebasyst2`]</div>
  </div>

{/if}
