<div>
    <h1>Debug zone</h1>
    <div class="block fields form">

        <form id="debug-zone" method="post">

        </form>
    </div>
    <script>
        (function (){
            var $form = $('#debug-zone');

            $form.on('submit', function (e) {
                var $btn = $form.find('[type="submit"]');

                $btn.prop('disabled', true);
                $.post('?module=backend&action=debug', $form.serialize(), function () {
                    $btn.prop('disabled', false);
                });

                return false;
            })
        }())
    </script>
</div>