<div class="sidebar left200px s-navigation">
    <div class="block">
        <ul class="menu-v with-icons">
             <li class="selected bottom-padded">
                 <a href="#" class="bold">
                     <span class="count hint" title="[`This week total`]">{$timeByUserStat[$stts->getUser()->getContactId()]['timeStr']}</span>
                     <i class="icon16 userpic20" style="background-image: url({$stts->getUser()->getPhotoUrl()})"></i>[`My status`]
                 </a>
             </li>
             {if count($users)}
                 {foreach $users as $u}
                 <li>
                     <a href="#/contact/{$u->getContactId()}">
                         <span class="count hint" title="[`This week total`]">{$timeByUserStat[$u->getContactId()]['timeStr']}</span>
                         <i class="icon16 userpic20" style="background-image: url({$u->getPhotoUrl()})"></i>{if !$u->isExists()}<span class="gray">{/if}{$u->getName()|escape}{if !$u->isExists()}</span>{/if}
                         {if $u->getTodayStatus()->getStatusId()}
                         <span class="s-status nowrap"
                               style="background-color: {$u->getTodayStatus()->getBgColor()}; color: {$u->getTodayStatus()->getFontColor()}"
                               title="{$u->getTodayStatus()->getName()|escape}"
                         >
                             {$u->getTodayStatus()->getName()|escape|truncate:13}
                         </span>
                         {/if}
                     </a>
                 </li>
                 {/foreach}
                 {*
                 <li>
                     <a href="#">
                         <span class="count hint">{$timeByUserStat[0]['timeStr']}</span>
                         <span class="gray">[`All users`]</span>
                     </a>
                 </li>
                 *}
            {/if}
            {if $teammates && $wa->team && $stts->getRightConfig()->isAdmin()}
                {foreach $teammates as $teammate}
                    <li>
                        <a href="#/contact/{$teammate.id}">
                            <i class="icon16 userpic20" style="background-image: url({$teammate.photo_url_32})"></i><span class="gray">{$teammate.name|escape}</span>
                        </a>
                    </li>
                {/foreach}
            {/if}
        </ul>
        {if !count($users) && !count($teammates) && $wa->team}
            <div class="block">
                <p class="hint align-center">{sprintf('[`Invite users via the <a href="%s">Team app</a> and start tracking time and status together.`]', $wa_backend_url|cat:'team/')}</p>
            </div>
        {/if}
    </div>
    <div class="block">
        {if count($projects) || $stts->getRightConfig()->hasAccessToProject()}
            <h5 class="heading top-padded">
                {if $stts->getRightConfig()->hasAccessToProject()}
                <a href="#" class="count" data-status-project-action="add"><i class="icon16 add"></i></a>
                {/if}
                [`Projects`]
            </h5>
            {if count($projects)}
                <ul class="menu-v with-icons">

                     {foreach $projects as $p}
                     <li>
                         <a href="#/project/{$p->getId()}">
                             <span class="count hint">{$timeByProjectStat[$p->getId()]['timeStr']}</span>
                             <i class="icon16 color" style="background: {$p->getColor()};"></i>
                             {$p->getName()|escape}
                         </a>
                     </li>
                     {/foreach}
                     {*
                     <li>
                         <a href="#">
                             <span class="count hint">42h</span>
                             <i class="icon16 color" style="background: white;"></i>
                             <span class="gray">[`All projects`]</span>
                         </a>
                     </li>
                     *}
                </ul>
            {elseif $stts->getRightConfig()->isAdmin()}
                <div class="block">
                    <p class="hint align-center">[`Add projects so everyone can add detalization on what they were working on.`]</p>
                </div>
            {/if}
        {/if}

        {if $stts->getRightConfig()->isAdmin() ||$stts->getRightConfig()->hasAccessToRight(statusRightConfig::CAN_SEE_REPORTS)}
        <hr>
        <ul class="menu-v with-icons">
            <li>
                <a href="#/reports/"><i class="icon16 reports"></i>[`Reports`]</a>
            </li>
            {*
             <li>
                 <a href="#"><i class="icon16 plugins"></i>[`Plugins`]</a>
             </li>
             <li>
                 <a href="#"><i class="icon16 widgets"></i>[`Widgets`]</a>
             </li>
             <li>
                 <a href="#"><i class="icon16 settings"></i>[`Settings`]</a>
             </li>
             *}
        </ul>
        {/if}
    </div>
</div>
