<section id="chronology">
    <div id="olderWeeks">
        {foreach $weeks as $week}
            <div class="s-week-divider">
                <h5 class="heading">WEEK #{$week->number}</h5>
            </div>

            <div class="s-week-summary">
                <div class="block">
                    <h5 class="heading align-center">
                        WEEK #{$week->number}<br> SUMMARY
                    </h5>

                    {include inline file='./../../actions/week/WeekDonut.html' donut=$week->donut}

                </div>
            </div>

            {foreach $week->days as $day}
            <div class="s-day{if $day->isFromCurrentWeek && $isMe} s-this-week{/if}{if !$isMe} s-non-clickable{elseif !$isProject} s-editable{/if}"
                 data-status-day-date="{$day->date}"
            >
                {include inline file='./../../actions/day/DayShow.html' day=$day}
            </div>
            {/foreach}
        {/foreach}
    </div>

    <div class="block double-padded lazyloading" style="display: none;">
        <i class="icon16 loading"></i> [`Loading...`]
    </div>
</section>
