<div class="content left200px">

    {if $isProject}
    <h1>{$project->getName()|escape}</h1>
    {elseif $isMe}
    <div class="s-week-summary">

        <h5 class="heading align-center">[`This week`]</h5>

        {include file='./../week/WeekDonut.html' donut=$currentWeek->donut}

    </div>

    <!-- Tomorrow: SET TAG ONLY: Office / Remote / Ill / Day off / Custom tag -->
    <div class="s-tomorrow-planner">
        <div class="float-right">
            {include inline file='./../todaystatus/TodaystatusList.html' statuses=$statuses statusDate='tomorrow' currentStatus=$nextStatus}
        </div>
        <h3>
            [`Tomorrow`]
            <span class="hint">
                {$tomorrowDto->dayname}, {$tomorrowDto->dayHuman}
                        <!-- <span title="[`Weekend`]">🏖️Sunday / Saturday</span> -->
                <!-- <span title="[`Birthday`]">🎂Birtday</span> -->
            </span>
        </h3>
    </div>
    {else}
    <h1>{$contextUser->getName()|escape}</h1>

    {if !$contextUser->getId()}вне статуса{/if}

    <div style="border: 1px solid red">
        <div class="s-day" data-status-day-date="{$tomorrowDto->date}">
            {include inline file='./../day/DayShow.html' day=$tomorrowDto}
        </div>
    </div>
    {/if}

    {foreach $currentWeek->days as $day}
    <div class="s-day{if $day->isFromCurrentWeek && $isMe} s-this-week{/if}{if !$isMe} s-non-clickable{elseif !$isProject} s-editable{/if}"
         data-status-day-date="{$day->date}"
    >
        {include inline file='./../day/DayShow.html' day=$day}
    </div>
    {/foreach}

    <!-- CHRONOLOGY -->

    {include inline file='./../chronology/ChronologyLoadWeeks.html' weeks=$weeks}
</div>

<script>
    'use strict';
    (function(){
        var currentContactId = '{$current_contact_id}',
            dayEditable = parseInt('{$dayEditable}');

        $.status.lazyLoad({
            $loading: $('#chronology .lazyloading'),
            html_selector: '#olderWeeks',
            url: '?module=chronology&action=loadWeeks&contact_id={$current_contact_id}'
        });

        $.status.$status_content
            .on('click.stts', '[data-status-walog-app]', function (e) {
                e.preventDefault();
                e.stopPropagation();

                var $this = $(this),
                    appId = $this.data('status-walog-app');

                $this.closest('.s-day-summary-user-report')
                    .find('[data-status-walog-app-logs="'+appId+'"]').slideDown(100)
                    .siblings().hide();

                return false;
            });

        $.status.$status_content.on('reloadDonut.stts', '[data-status-week-donut]', function () {
            var $donut = $(this),
                weekNum = $donut.data('status-week-donut');

            $.get('?module=week&action=donut&contact_id={$current_contact_id}&week_num='+weekNum, function (html) {
                $donut.replaceWith(html);
            })
        });

        $.status.$status_content.off('click.stts', '.s-day');
        if (dayEditable) {
            $.status.$status_content.on('click.stts', '.s-day', function (e) {
                if ($(e.target).closest('[data-status-walog-app-logs]').length) {
                    return;
                }

                $.status.dayEditor($(this));
            });

            // var $editableDay = $.status.$status_content.find('.s-editable-now');
            // if (!$editableDay.length) {
            // var $editableDay = $.status.$status_content.find('.s-day:first');
            // }
            // $editableDay.trigger('click.stts');

            $.status.$status_content.on('loadEditor.stts', function () {
                var loadSelector = '.s-day:first';
                if ($.status.routing.hash === 'y') {
                    loadSelector = '.s-day:eq(1)';
                }
                $.status.$status_content.find(loadSelector).trigger('click.stts');
            });
        }

    }());
</script>
