<div class="content left200px">

    <div class="s-week-summary">

        <h5 class="heading align-center">[`This week`]</h5>

        {include file='./../week/WeekDonut.html' donut=$currentWeek->donut}

    </div>

    <!-- Tomorrow: SET TAG ONLY: Office / Remote / Ill / Day off / Custom tag -->
    <div class="s-tomorrow-planner">
        <div class="float-right">
            {include file='./../todaystatus/TodaystatusList.html' statuses=$statuses todayOffset=$tomorrow currentStatus=$nextStatus}
        </div>
        <h3>
            [`Tomorrow`]
            <span class="hint">
                            {date('D', $smarty.now + 86400)}, {date('Y-m-d', $smarty.now + 86400)|wa_date:humandate}
                            <!-- <span title="[`Weekend`]">🏖️Sunday / Saturday</span> -->
                <!-- <span title="[`Birthday`]">🎂Birtday</span> -->
                        </span>
        </h3>
    </div>

    {foreach $currentWeek->days as $day}
        {include file='./../day/DayShow.html' day=$day}
    {/foreach}

    <!-- CHRONOLOGY -->

    {include inline file='./../chronology/ChronologyLoadWeeks.html' weeks=$weeks}
</div>

<script>
    'use strict';
    (function(){
        var currentContactId = '{$current_contact_id}';

        $.status.lazyLoad({
            $loading: $('#chronology .lazyloading'),
            html_selector: '#olderWeeks',
            url: '?module=chronology&action=loadWeeks&contact_id={$current_contact_id}'
        });

        $.status.$status_content
            .on('click.stts', '[data-status-walog-app]', function (e) {
                e.preventDefault();
                e.stopPropagation();

                var $this = $(this),
                    appId = $this.data('status-walog-app');

                $this.closest('.s-day-summary-user-report')
                    .find('[data-status-walog-app-logs="'+appId+'"]').slideDown(100)
                    .siblings().hide();

                return false;
            });

        $.status.$status_content.on('reloadDonut.stts', '[data-status-week-donut]', function () {
            var $donut = $(this),
                weekNum = $donut.data('status-week-donut');

            $.get('?module=week&action=donut&contact_id={$current_contact_id}&week_num='+weekNum, function (html) {
                $donut.replaceWith(html);
            })
        });

        if (currentContactId == $.status.options.userId) {
            $.status.$status_content
                .off('click.stts', '.s-day')
                .on('click.stts', '.s-day', function (e) {
                    if ($(e.target).closest('[data-status-walog-app-logs]').length) {
                        return;
                    }

                    $.status.dayEditor($(this));
                });

            $.status.$status_content.find('.s-day:first').trigger('click.stts');
        }

    }());
</script>