<div class="s-tiny-ad">
    <div class="s-tiny-ad-box">

        <a href="#" class="s-tiny-ad-close" title="[`Close`]">&times;</a>
        <h5 class="heading">{$tinyAd.heading}</h5>

        <div class="align-center">

            <a href="{$tinyAd.appurl}" target="_blank">
                <img src="{$tinyAd.image}" class="s-app-icon{if $tinyAd.adtype == 'plugin'} s-plugin-icon{/if}" />
            </a>

            <h3>
                <a href="{$tinyAd.appurl}" target="_blank">{$tinyAd.title}</a>
            </h3>

            <p>
                {$tinyAd.subtitle}
                {$tinyAd.teaser}
            </p>

            <p class="align-center semibold gray">
                [`Promocode`]
                <span class="badge indicator onfire bold s-app-discount-badge">&minus;{$tinyAd.discount}%</span>
            </p>
            <input type="text" class="bold align-center" value="{$tinyAd.promocode}" style="border-style: dashed; font-size: 1rem;">

            <div class="block">
                <a href="{$tinyAd.buyurl}" target="_blank" class="button green s-tiny-ad-action-button">[`Buy now`]</a>
            </div>

        </div>

    </div>
</div>
