<script type="text/x-jquery-tmpl" id="status-day-editor">
{literal}
<!-- DAY EDIT UI -->
<div class="s-editor shadowed">

    <!-- TIME & STATUS -->
    <div class="block double-padded">

        <div class="float-right block half-padded">
            <ul class="menu-h dropdown">
                <li>
                    <a href="#" class="s-editor-status inline-link gray"><b><i><strong>[`Status`]</strong></i></b> <i class="icon10 darr"></i></a>
                </li>
            </ul>
        </div>

        <h1>
            {{if $isToday}}[`Today`]{{/if}}
            <span class="hint">
                ${dayname}, ${date}
            </span>
        </h1>

    </div>

    <!-- COMMENT & LOGGED ENTITIES -->
    <div class="s-editor-summary block double-padded blank">
        <textarea class="s-editor-comment" placeholder="[`Enter your daily report here...`]" name="">${firstCheckin.comment}</textarea>
        <div class="s-editor-commit">
            <input type="button" value="[`Save`]" class="button yellow s-editor-commit-button" />
            <span class="s-editor-commit-indicator italic gray">[`Saved`] <i class="icon16 yes-bw"></i></span>
        </div>
        <div class="s-logged-apps">
            <a href="#" class="s-logged-app-counter inline-link"><i class="icon16 s-app-icon" style="background-image: url('/wa-apps/shop/img/shop.png');"></i><b><i>3</i></b></a>
            <a href="#" class="s-logged-app-counter inline-link"><i class="icon16 s-app-icon" style="background-image: url('/wa-apps/pocketlists/img/pocketlists48.png');"></i><b><i>15</i></b></a>
            <a href="#" class="s-logged-app-counter inline-link"><i class="icon16 s-app-icon" style="background-image: url('/wa-apps/blog/img/blog.png');"></i><b><i>1</i></b></a>
            <a href="#" class="s-logged-app-counter inline-link"><i class="icon16 s-app-icon" style="background-image: url('/wa-apps/tasks/img/tasks.png');"></i><b><i>7</i></b></a>
        </div>
    </div>

</div>
{/literal}
</script>
