<div class="s-editor shadowed" data-status-day-date="{$day->date}" data-status-week-of-day="{$day->weekNum}">
    <!-- TIME & STATUS -->
    <div class="block double-padded">

        <div class="float-right block half-padded">
            <ul class="menu-h dropdown">
                <li>
                    <a href="#" class="s-editor-status inline-link gray"><b><i><strong>[`Status`]</strong></i></b> <i class="icon10 darr"></i></a>
{*                    {_draw_status_selector}*}
                </li>
            </ul>
        </div>

        <h1>
            {if $day->today}[`Today`]{/if}
            <span class="hint">
                {$day->dayname}, {$day->date|wa_date:humandate}
                <!-- <span title="[`Weekend`]">🏖️Sunday / Saturday</span> -->
                <!-- <span title="[`Birthday`]">🎂Birtday</span> -->
            </span>
        </h1>

        {foreach $day->checkins as $checkin}
        <div class="s-editor-slider"
             data-checkin="{$checkin->id}"
             {if $checkin->id == $day->firstCheckin->id}data-checkin-first{/if}
             data-checkin-has-projects="{$checkin->hasProjects|intval}"
        >
        <form style="padding: 20px 0 10px;display: flex;width: 100%;">
            <input type="hidden" name="checkin[id]" value="{$checkin->id}"/>
            <input type="hidden" name="checkin[start_time]" value="{$checkin->min}"/>
            <input type="hidden" name="checkin[end_time]" value="{$checkin->max}"/>
            <input type="hidden" name="checkin[date]" value="{$day->date}"/>
            <input type="hidden" name="checkin[total_duration]" value="{$checkin->duration}"/>
            <input type="hidden" name="checkin[break_duration]" value="{$checkin->break}"/>

            <div class="s-editor-slider-control">
                <div class="s-editor-slider-slider"></div>
                <div class="s-editor-slider-projects" {if !$checkin->hasProjects}style="display: none;"{/if}>
                {foreach $checkin->projectsDuration as $projectDuration}
                    <label class="s-editor-project {if $projectDuration->id}selected{/if}" data-status-project-color="{$projectDuration->project->color}">
                        <input type="hidden" name="projects[{$projectDuration->project->id}][project_check_id]" value="{$projectDuration->id}">
                        <input type="hidden" name="projects[{$projectDuration->project->id}][on]" value="0">
                        <input type="checkbox" name="projects[{$projectDuration->project->id}][on]" value="1" {if $projectDuration->id}checked{/if}>
{*                        <!-- <i class="icon16 color" style="background: {$p[0]};"></i> -->*}
                        {$projectDuration->project->name|escape}
                        <span class="s-duration s-editor-project-share">
                            <a href="#" class="inline-link s-duration-label" style="background: {$projectDuration->project->color};">
                                <b><i>{$projectDuration->durationPercent}%</i></b>
                            </a>
                            <input type="text"
                                   class="s-duration-input"
                                   value="{$projectDuration->durationPercent}"
                                   name="projects[{$projectDuration->project->id}][duration]"
                            >
                        </span>
                    </label>
                {/foreach}
                </div>
            </div>
            <div class="s-editor-slider-total">
                <h2>{$checkin->durationString}</h2>
            </div>
            <div class="s-editor-slider-break">
                <label>
                    <input type="hidden" name="checkin[break]" value="0">
                    <input type="checkbox" {if $checkin->break}checked{/if} name="checkin[break]" value="1">
                    [`Break`]
                    <span class="s-duration">
                        <a href="#" class="inline-link s-duration-label"><b><i>{$checkin->breakString}</i></b></a>
                        <input type="input" class="s-duration-input" value="{$checkin->break|default:1}" name="checkin[break_duration]">
                    </span>
                </label>
            </div>
            <div class="s-editor-slider-more">
                <a href="#" data-checkin-action="new" title="[`Add another interval for today`]"><i class="icon16 add"></i></a>
            </div>
        </form>
        </div>
        {/foreach}
    </div>

    <!-- COMMENT & LOGGED ENTITIES -->
    <div class="s-editor-summary block double-padded blank">
        <textarea class="s-editor-comment" placeholder="[`Enter your daily report here...`]" name="checkin[comment]">{$day->firstCheckin->comment|escape}</textarea>
        <div class="s-editor-commit">
            <input type="button" value="[`Save`]" class="button yellow s-editor-commit-button" />
            <span class="s-editor-commit-indicator italic gray">[`Saved`] <i class="icon16 yes-bw"></i></span>
        </div>

        <div class="s-logged-apps">
        {foreach $day->walogs as $walog}
        {if $walog->count}
            <a href="#" class="s-logged-app-counter inline-link" data-status-walog-app="{$walog->appId}"><i class="icon16 s-app-icon" style="background-image: url('{$walog->appIcon}');"></i><b><i>{$walog->count}</i></b></a>
        {/if}
        {/foreach}
            <div data-status-walog-app-logs-explain>
            {foreach $day->walogs as $walog}
                <div data-status-walog-app-logs="{$walog->appId}" style="display: none">
                    <pre class="small">{$walog->logs|print_r}</pre>
                </div>
            {/foreach}
            </div>
        </div>
    </div>
</div>
