<div class="s-editor"
     data-status-day-date="{$day->date}"
     data-status-week-of-day="{$day->weekNum}"
>
    <!-- TIME & STATUS -->
    <div class="s-editor-time-and-status">

        <div class="flexbox">
            <div class="wide">
                <h1 {if $day->yesterday}class="s-yesterday"{/if}>
                    {if $day->today}[`Today`]{/if}
                    {if $day->yesterday}[`Yesterday`]{/if}
                    <span class="hint">
                        {$day->dayname}{if !$day->today}, {$day->dayHuman}{/if}
                        <!-- <span title="[`Weekend`]">🏖️Sunday / Saturday</span> -->
                        <!-- <span title="[`Birthday`]">🎂Birtday</span> -->
                    </span>
                </h1>
            </div>

            <div class="s-editor-status-dropdown">
                {include inline file='./../todaystatus/TodaystatusList.html' statuses=$statuses currentStatus=$userDayInfo->todayStatus statusDate=$day->date}
            </div>
        </div>

        {if !$stts->getContextUser()->getLastCheckinDatetime()}
            <div class="s-welcome-note small">
                <p>🎉  &nbsp; [`<strong class="highlighted">Hello and welcome!</strong> Add your first work report by <strong>dragging the time slider</strong> or by <strong>selecting your daily status</strong> in the menu so all your teammates get to know what you are up to on this day.`]</p>
            </div>
        {/if}

        <div class="custom-my-20">
        {$itr = 0}
        {foreach $userDayInfo->checkins as $checkin}
        {if !$checkin->isTrace}
        <div class="s-editor-slider s-editor-slider--{$itr}{if $stts->canShowTrace()} s-editor-slider-exp{/if}"
             data-checkin="{$checkin->id}"
             data-checkin-index="{$itr}"
             {if $checkin->id == $userDayInfo->firstCheckin->id}data-checkin-first{/if}
             data-checkin-has-projects="{$checkin->hasProjects|intval}"
        >
        <form class="flexbox width-100">
            <input type="hidden" name="checkin[id]" value="{$checkin->id}"/>
            <input type="hidden" name="checkin[start_time]" value="{$checkin->min}"/>
            <input type="hidden" name="checkin[end_time]" value="{$checkin->max}"/>
            <input type="hidden" name="checkin[date]" value="{$day->date}"/>
            <input type="hidden" name="checkin[total_duration]" value="{$checkin->duration}"/>
            <input type="hidden" name="checkin[break_duration]" value="{$checkin->break}"/>

            <div class="s-editor-slider-control">
                {if $itr === 0}
                    {if $stts->canShowTrace()}
                    <span class="s-timeline-dial">
                    {for $i=1 to 23}{strip}
                        <i style="left: {round($i*100/24)}%;" class="{if $i % 3 != 0} tick{/if}{if $i>=9 && $i<=18} day{/if}" title="{$i}:00">{if $i % 3 == 0}{$i}{/if}</i>
                    {/strip}{/for}
                    </span>
                    {/if}
                    <div style="position: relative;">
                        <div class="s-editor-slider-slider"></div>
                        {if $stts->canShowTrace()}
                            <div class="s-editor-slider-helpers">
                                {foreach $userDayInfo->checkins as $c}{strip}
                                    {* sorry for the inner cycle :) *}
                                    {if $c->isTrace}
                                        {if $c->max > $c->min}
                                            {$__checkin_density = $c->duration / ($c->max - $c->min)}
                                        {else}
                                            {$__checkin_density = 0}
                                        {/if}
                                        <div class="s-timeline-trace"
                                            style="left: {min(100,$c->minPercent)}%; right: {max(0,100 - $c->maxPercent)}%;"
                                            title="{sprintf('[`%d minutes of Webasyst online time: %s active, %s idle`]', $c->max-$c->min, $c->durationString, $c->breakString)}"
                                            data-trace-id="{$c->id}"
                                        ></div>
                                    {/if}
                                {/strip}{/foreach}
                                {foreach $userDayInfo->walogsByDatetime as $w}{strip}
                                    <div class="s-timeline-action-mark"
                                        style="left: {$w.position}%; background: {$w.app_color};"
                                        data-time="{$w.datetime|wa_datetime:datetime}"
                                        title="{$w.app_id} @ {$w.datetime|wa_datetime:humandatetime}"
                                    ></div>
                                {/strip}{/foreach}
                            </div>
                        {/if}
                        <div class="s-editor-slider-tooltip"></div>
                    </div>
                {/if}

                <div class="s-editor-slider-projects flexbox full-width" style="display: none;">
                    <div class="wide small">
                    {foreach $checkin->projectsDuration as $projectDuration}
                        <label class="s-editor-project {if $projectDuration->id}selected{/if}"
                            data-status-project-color="{$projectDuration->project->color}"
                            data-status-project-id="{$projectDuration->project->id}"
                        >
                            <input type="hidden" name="projects[{$projectDuration->project->id}][project_check_id]" value="{$projectDuration->id}">
                            <input type="hidden" name="projects[{$projectDuration->project->id}][on]" value="0">
                            <span class="wa-checkbox">
                                <input type="checkbox" name="projects[{$projectDuration->project->id}][on]" value="1" {if $projectDuration->id}checked{/if}>
                                <span>
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </span>
                            </span>

                            {$projectDuration->project->name|escape}
                            <span class="s-duration s-editor-project-share">
                                <a href="#" class="s-duration-label" style="background: {$projectDuration->project->color};">
                                    {$projectDuration->durationPercent}%
                                </a>
                                <input type="text"
                                    class="s-duration-input"
                                    value="{$projectDuration->durationPercent}"
                                    name="projects[{$projectDuration->project->id}][duration]"
                                >
                            </span>
                        </label>
                    {/foreach}
                    </div>
                    <div class="s-editor-slider-break small nowrap">
                        <input type="hidden" name="checkin[break]" value="0">
                        <label>
                            <span class="wa-checkbox">
                                <input type="checkbox" {if $checkin->break}checked{/if} name="checkin[break]" value="1">
                                <span>
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </span>
                            </span>
                            <span>[`Break`]</span>
                            <span class="s-duration">
                                <a href="#" class="s-duration-label">{$checkin->breakString}</a>
                                <input type="text" class="s-duration-input" value="{$checkin->break|default:1}" name="checkin[break_duration]">
                            </span>
                        </label>
                    </div>
                </div>

            </div>
            <div class="flexbox s-editor-slider-tools">
            {if $itr === 0}
            <div class="s-editor-slider-more nowrap">
                <a href="#" data-checkin-action="delete" title="[`Remove interval for today`]" class="button circle"><i class="fas fa-trash-alt text-red"></i></a>
                <a href="#" data-checkin-action="delete2.0" style="display: none;" title="[`Remove interval for today`]" class="button circle light-gray"><i class="fas fa-trash-alt text-red"></i></a>
            </div>
            <div class="s-editor-slider-total">
                <div class="large nowrap" data-status-checkin-duration-zero="[`0 h`]"></div>
            </div>
            {/if}
            </div>
        </form>
        </div>
        {$itr = $itr + 1}
        {/if}
        {/foreach}
        </div>
    </div>

    <!-- COMMENT & LOGGED ENTITIES -->
    <div class="s-editor-summary block double-padded blank">
        <textarea class="s-editor-comment semibold" placeholder="[`Enter your daily report here...`]" name="checkin[comment]">{$userDayInfo->firstCheckin->comment|escape}</textarea>

        <div class="s-logged-apps custom-pt-20 custom-mb-0 {if count($userDayInfo->walogsByDatetime) || count($userDayInfo->walogs)}bordered-top{/if}">
            <div class="flexbox">
                <div class="wide">
                    {foreach $userDayInfo->walogs as $walog}
                        {if $walog->count && $walog->appId != 'webasyst'}
                            <a href="#"
                            class="s-logged-app-counter nowrap"
                            data-status-walog-contact-id="{$user->contactId}"
                            data-status-walog-app="{$walog->appId}"
                            data-status-walog-date="{$day->date}"
                            >
                                <span class="icon size-24">
                                    <i style="background-image: url('{$walog->appIcon}');"></i>
                                </span>
                                <strong>
                                    {$walog->count}
                                </strong>
                            </a>
                        {/if}
                    {/foreach}

                    {if $stts->canShowTrace()}
                    {foreach $userDayInfo->walogsByDatetime as $walogByDatetime}{strip}
                        <div class="s-timeline-content s-timeline-action-mark"
                            style="left: {$walogByDatetime.position}%; background: {$walogByDatetime.app_color};"
                            data-time="{$walogByDatetime.datetime|wa_datetime:datetime}"
                        ></div>
                    {/strip}{/foreach}
                    {/if}
                </div>

                <div class="s-editor-commit flexbox">
                    <div class="s-editor-commit-button">
                        <em class="hint">Ctrl + S &nbsp;</em>
                        <input type="button" value="[`Save`]" class="button yellow" />
                    </div>
                    <span class="s-editor-commit-indicator italic gray">[`Saved`] <i class="fas fa-check"></i></span>
                </div>

            </div>
        </div>

    </div>
</div>
