<div class="s-day{if $day->isFromCurrentWeek && $isMe} s-this-week{/if}" data-status-day-date="{$day->date}">
    <div class="s-day-date">
        <h3>
            {$day->date|wa_date:humandate}
            <span class="hint">{$day->dayname}</span>
        </h3>
    </div>

    <div class="checkins">
        {foreach $day->userDayInfos as $userDayInfo}
        {* @var statusDayUserInfoDto $userDayInfo *}
        {foreach $userDayInfo->checkins as $checkin}
        <div class="checkin">
        <div class="s-day-summary">
            <div class="s-day-summary-timeline">
                <div class="s-timeline">{strip}
                    <div class="s-timeline-content{if !$checkin->id} s-timeline-content-empty{/if}"
                         style="left: {$checkin->minPercent}%; right: {100 - $checkin->maxPercent}%;"
                         {if $checkin->id}id="s-timeline-content-{$checkin->id}"{/if}
                         {if $checkin->hasProjects}title="{$checkin->projectDurationTitle|escape}"{/if}
                    ></div>
                    {if $checkin->id && $checkin->hasProjects}
                    <style>
                        #s-timeline-content-{$checkin->id} {
                            background: -webkit-linear-gradient(left, {$checkin->projectDurationCss});
                        }
                    </style>
                    {/if}
                {/strip}</div>
            </div>
            <div class="s-day-summary-user-report">
                <div class="s-author">
                    <h5 class="s-username">
                        <i class="icon16 userpic20"></i>
                        {$day->users[$userDayInfo->contactId]->name|escape}
                        {if $userDayInfo->todayStatus->getCalendarId()}<span class="s-status" title="[`Status for today`]">{$userDayInfo->todayStatus->getName()|escape}</span>{/if}
                    </h5>

                    <div class="s-logged-apps">
                    {foreach $userDayInfo->walogs as $walog}
                        {if $walog->count}
                        <a href="#" class="s-logged-app-counter inline-link" data-status-walog-app="{$walog->appId}"><i class="icon16 s-app-icon" style="background-image: url('{$walog->appIcon}');"></i><b><i>{$walog->count}</i></b></a>
                        {/if}
                    {foreachelse}
                        {if !$checkin->id}
                            <div class="s-logged-apps gray">
                                [`No activity recorded`]
                            </div>
                        {/if}
                    {/foreach}
                    <div data-status-walog-app-logs-explain>
                    {foreach $userDayInfo->walogs as $walog}
                        <div data-status-walog-app-logs="{$walog->appId}" style="display: none">
                            <pre class="small">{$walog->logs|print_r}</pre>
                        </div>
                    {/foreach}
                    </div>
                    </div>
                </div>
                {if $checkin->comment}
                    <p>
                        {$checkin->comment|escape|nl2br}
                    </p>
                {/if}
            </div>
        </div>

        <div class="s-day-total">
            <h4>{$checkin->durationString}</h4>
        </div>
        </div>
    {/foreach}
    {/foreach}
    </div>

</div>
