{** @var statusDayDto $day **}
{*<section id="day-show-{$day->date}">*}
    <div class="s-day-date">
        <h3>
            {if $day->yesterday}[`Yesterday`]
            {elseif $day->today}[`Today`]
            {else}{$day->dayHuman}{/if}
            <span class="hint">{$day->dayname}{if $day->yesterday || $day->today}<br> {$day->dayHuman}{/if}</span>
        </h3>
    </div>


    <div class="s-checkins">
        {foreach $day->userDayInfos as $userDayInfo}
        {* @var statusDayUserInfoDto $userDayInfo *}

            <div class="s-checkin">
                <div class="s-day-summary">
                    <div class="s-day-summary-timeline">

                        <div class="s-timeline s-timeline-exp">
                            <span class="s-timeline-dial">
                            {for $i=1 to 23}{strip}
                                <i style="left: {round($i*100/24)}%;" class="{if $i % 3 != 0} tick{/if}{if $i>=9 && $i<=18} day{/if}" title="{$i}:00">{if $i % 3 == 0}{$i}{/if}</i>
                            {/strip}{/for}
                            </span>
                            {foreach $userDayInfo->checkins as $checkin}{strip}
                                {if $checkin->max > $checkin->min}
                                    {$__checkin_density = $checkin->duration / ($checkin->max - $checkin->min)}
                                {else}
                                    {$__checkin_density = 0}
                                {/if}
                                <div class="s-timeline-content{if !$checkin->id} s-timeline-content-empty{/if}{if $checkin->isTrace} s-timeline-trace{/if}"
                                     style="left: {min(100,$checkin->minPercent)}%; right: {max(0,100 - $checkin->maxPercent)}%;"
                                     {if $checkin->id}id="s-timeline-content-{$checkin->id}"{/if}
                                     {if $checkin->hasProjects}title="{$checkin->projectDurationTitle|escape}"{elseif $checkin->isTrace}title="{sprintf('[`%d minutes of Webasyst online time: %s active, %s idle`]', $checkin->max-$checkin->min, $checkin->durationString, $checkin->breakString)}"{else}title="{sprintf('[`%s (project not specified)`]', $checkin->durationString)}"{/if}
                                ></div>
                                {if $checkin->id && $checkin->hasProjects && !$checkin->isTrace}
                                <style>
                                    #s-timeline-content-{$checkin->id} {
                                        background: -webkit-linear-gradient(left, {$checkin->projectDurationCss});
                                    }
                                </style>
                                {/if}
                            {/strip}{/foreach}
                            {foreach $userDayInfo->walogsByDatetime as $walogByDatetime}{strip}
                                <div class="s-timeline-content s-timeline-action-mark"
                                     style="left: {$walogByDatetime.position}%; background: {$walogByDatetime.app_color};"
                                     data-time="{$walogByDatetime.datetime|wa_datetime:datetime}"
                                     title="{$walogByDatetime.app_id} @ {$walogByDatetime.datetime|wa_datetime:humandatetime}"
                                ></div>
                            {/strip}{/foreach}
                        </div>
                    </div>
                    <div class="s-day-summary-user-report">
                        <div class="s-author">
                            <h5 class="s-username">
                                <i class="icon16 userpic20" style="background-image: url({$day->users[$userDayInfo->contactId]->photoUrl})"></i>
                                {$day->users[$userDayInfo->contactId]->name|escape}
                                {if $userDayInfo->todayStatus->getCalendarId()}
                                <span class="s-status" title="[`Status for today`]" style="background-color: {$userDayInfo->todayStatus->getBgColor()}; color: {$userDayInfo->todayStatus->getFontColor()}">{$userDayInfo->todayStatus->getName()|escape}</span>
                                {/if}
                            </h5>

                            <div class="s-logged-apps">
                                {$_cnt = 0}
                                {foreach $userDayInfo->walogs as $walog}
                                    {if $walog->count && $walog->appId != 'webasyst'}
                                        <a href="#"
                                           class="s-logged-app-counter inline-link"
                                           data-status-walog-contact-id="{$day->users[$userDayInfo->contactId]->contactId}"
                                           data-status-walog-app="{$walog->appId}"
                                           data-status-walog-date="{$day->date}"
                                        ><i class="icon16 s-app-icon" style="background-image: url('{$walog->appIcon}');"></i><b><i>{$walog->count}</i></b></a>
                                        {$_cnt = $_cnt + 1}
                                    {/if}
                                {/foreach}
                                {if !$_cnt && !$checkin->id}
                                    <div class="s-logged-apps gray">
                                        [`No activity recorded`]
                                    </div>
                                {/if}
                            </div>

                        </div>
                        {if $userDayInfo->firstCheckin->comment}
                            <p>
                                {$userDayInfo->firstCheckin->comment|escape|nl2br}
                            </p>
                        {/if}
                    </div>

                </div>

                <div class="s-day-total">
                    <h4>{$userDayInfo->dayDurationString}</h4>

                    {if $stts->canShowTrace()}
                    <h4 class="gray small">
                        <span title="{sprintf('[`Webasyst online time: %s active, %s idle`]', $userDayInfo->traceDurationString, $userDayInfo->traceBreakDurationString)}">
                            <i class="icon16 s-trace-total-online"></i>
                            {$userDayInfo->traceDurationWithBreakString}
                        </span>
                    </h4>
                    {/if}
                </div>
            </div>



        {foreachelse}
            <div class="s-checkin">
                <div class="s-day-summary">
                    <div class="s-day-summary-timeline"><div class="s-timeline"></div></div>
                </div>
                <div class="s-day-total">
                    <h4>[`0 h`]</h4>
                </div>
            </div>
        {/foreach}
    </div>

{*</section>*}
