{if $ui == 2.0}
    {if !$user.id}
        иди-ка ты выбери пользователя, товарищ админ
    {else}
        <link href="{$wa_app_static_url}css/status.css" rel="stylesheet" type="text/css"/>
        <div class="s-widget-{$widget_id}">
            <h5><i class="userpic userpic-32"
                   style="background-image: url({$user.photoUrl})"></i> {$user.name|escape}</h5>

            {foreach $days as $day}
                {include file='./DayInfo.html' dayDto=$day.day date=$day.date}
            {/foreach}

            <!-- {$link} -->

        </div>
    {/if}
{else}
    <div class="block">
        <div class="align-center hint"
             style="font-size: 1rem;width: 80%;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);">[`SwitchToWebasyst2`]
        </div>
    </div>
{/if}