<div>
    <h1>Debug zone</h1>
    <div class="block fields form">

        <form id="debug-zone" method="post">
        <div class="field-group">
            <div class="field">
                <div class="name">Включить отображение чекинов из автоматического лога</div>
                <div class="value">
                    <input type="hidden" name="debug[show_trace]" value="0"/>
                    <input type="checkbox" name="debug[show_trace]" value="1" {if $debug.show_trace}checked{/if}/>
                </div>
            </div>

        </div>

        <div class="field-group">
            <div class="field">
                <div class="value">
                    <input type="submit" class="button" value="Save"/>
                </div>
            </div>
        </div>
        </form>
    </div>
    <script>
        (function (){
            var $form = $('#debug-zone');

            $form.on('submit', function (e) {
                var $btn = $form.find('[type="submit"]');

                $btn.prop('disabled', true);
                $.post('?module=backend&action=debug', $form.serialize(), function () {
                    $btn.prop('disabled', false);
                });

                return false;
            })
        }())
    </script>
</div>