<nav class="sidebar-mobile-toggle">
    <div class="box align-center">
        <a href="#" href="javascript:void(0);">
            <i class="fas fa-bars"></i>
            [`Menu`]
        </a>
    </div>
</nav>
<div class="sidebar-body hide-scrollbar">
    <ul class="menu">
         <li class="selected">
             <a href="#" class="bold">
                 <span class="count" title="[`This week total`]">{$timeByUserStat[$stts->getUser()->getContactId()]['timeStr']}</span>
                 <span class="icon"><i class="userpic" style="background-image: url({$stts->getUser()->getPhotoUrl()})"></i></span>
                 <span>[`My status`]</span>
             </a>
         </li>
         <li>
             <a href="#/contact/-1312">
                 <i class="fas fa-users"></i>
                 <span>[`Everyone`]</span>
             </a>
         </li>
    </ul>

    {if count($users) && ($stts->getRightConfig()->isAdmin() || $stts->getRightCongif->hasAccessToTeammate())}
        <h5 class="heading">[`Teams`]</h5>
        <ul class="menu">
             {foreach $groups as $_g}
                 <li>
                     <a href="#/team/{$_g.id}">
                         <!-- <i class="fas fa-users"></i> -->
                         <span>{$_g.name|escape}</span>
                     </a>
                 </li>
             {/foreach}
        </ul>
    {/if}

    {if count($users) || count($hiddenUsers) || $teammates && $wa->team && $stts->getRightConfig()->isAdmin()}

    <h5 class="heading">[`Users`]</h5>
    <ul class="menu">

         {if count($users)}
             {foreach $users as $u}
             <li>
                 <a href="#/contact/{$u->getContactId()}">
                     <span class="count" title="[`This week total`]">{$timeByUserStat[$u->getContactId()]['timeStr']}</span>
                     <span class="icon"><i class="userpic" style="background-image: url({$u->getPhotoUrl()})"></i></span>
                     {$u->getName()|escape}
                     {if $u->getTodayStatus()->getStatusId()}
                     <span class="s-status nowrap"
                           style="background-color: {$u->getTodayStatus()->getBgColor()}; color: {$u->getTodayStatus()->getFontColor()}"
                           title="{$u->getTodayStatus()->getName()|escape}"
                     >
                         {$u->getTodayStatus()->getName()|escape|truncate:13}
                     </span>
                     {/if}
                 </a>
             </li>
             {/foreach}
        {/if}

        {if count($hiddenUsers) || $teammates && $wa->team && $stts->getRightConfig()->isAdmin()}
            {foreach $teammates as $teammate}
                <li style="display:none" data-status-sidebar-hidden-user>
                    <a href="#/contact/{$teammate.id}">
                        <span class="icon"><i class="userpic" style="background-image: url({$teammate.photo_url_32})"></i></span>
                        <span class="gray">{$teammate.name|escape}</span>
                    </a>
                </li>
            {/foreach}

            {foreach $hiddenUsers as $u}
            <li style="display:none" data-status-sidebar-hidden-user>
                 <a href="#/contact/{$u->getContactId()}">
                     <span class="count" title="[`This week total`]">{$timeByUserStat[$u->getContactId()]['timeStr']}</span>
                     <span class="icon"><i class="userpic" style="background-image: url({$u->getPhotoUrl()})"></i></span>
                     <span class="gray">{$u->getName()|escape}</span>
                     {if $u->getTodayStatus()->getStatusId()}
                     <span class="s-status nowrap"
                           style="background-color: {$u->getTodayStatus()->getBgColor()}; color: {$u->getTodayStatus()->getFontColor()}"
                           title="{$u->getTodayStatus()->getName()|escape}"
                     >
                         {$u->getTodayStatus()->getName()|escape|truncate:13}
                     </span>
                     {/if}
                 </a>
            </li>
            {/foreach}

            <li><a href="#" data-status-action="sidebar-show-all-users"><span class="small text-gray">{sprintf('[`Show more (%d)`]', count($hiddenUsers) + count($teammates))}</span></a></li>

        {/if}

    </ul>
    {/if}

    {if !count($users) && !count($teammates) && $wa->team}
        <div class="box">
            <p class="hint align-center">{sprintf('[`Invite users via the <a href="%s">Team app</a> and start tracking time and status together.`]', $wa_backend_url|cat:'team/')}</p>
        </div>
    {/if}

    {if count($projects) || $stts->getRightConfig()->hasAccessToProject()}
        <h5 class="heading">
            {if $stts->getRightConfig()->hasAccessToProject()}
            <a href="#" class="count" data-status-project-action="add" title="[`New project`]"><i class="fas fa-plus-circle"></i></a>
            {/if}
            <span>[`Projects`]</span>
        </h5>
        {if count($projects)}
            <ul class="menu">
                 {foreach $projects as $p}
                 <li>
                     <a href="#/project/{$p->getId()}">
                         <span class="count">{$timeByProjectStat[$p->getId()]['timeStr']}</span>
                         <span class="icon"><i class="rounded" style="background: {$p->getColor()};"></i></span>
                         <span>{$p->getName()|escape}</span>
                     </a>
                 </li>
                 {/foreach}
            </ul>
        {elseif $stts->getRightConfig()->isAdmin()}
            <div class="box">
                <p class="hint align-center">[`Add projects so everyone can add detalization on what they were working on.`]</p>
            </div>
        {/if}
    {/if}
</div>

{if $stts->getRightConfig()->isAdmin() ||$stts->getRightConfig()->hasAccessToRight(statusRightConfig::CAN_SEE_REPORTS)}
    <div class="sidebar-footer shadowed">
        <ul class="menu">
            <li>
                <a href="#/reports/">
                    <i class="fas fa-chart-pie"></i>
                    <span>[`Reports`]</span>
                </a>
            </li>
            {*
             <li>
                 <a href="#"><i class="icon16 plugins"></i>[`Plugins`]</a>
             </li>
             <li>
                 <a href="#"><i class="icon16 widgets"></i>[`Widgets`]</a>
             </li>
             <li>
                 <a href="#"><i class="icon16 settings"></i>[`Settings`]</a>
             </li>
             *}
        </ul>
    </div>
{/if}
