<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/status.css?v{$wa->version()}">
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/wa-content/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js"></script>

    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.core.min.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.slider.min.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.dialog.js"
  type="text/javascript"></script>

    <script type="text/javascript" src="{$wa_app_static_url}js/status.js?v{$wa->version()}"></script>

    {function name=_draw_status_selector}
        <ul class="menu-v with-icons s-status-selector">
            <li class="selected">
                <a href="#"><i class="icon16 color" style="background-color: gray;"></i>Удаленно</a>
            </li>
            <li>
                <a href="#"><i class="icon16 color" style="background-color: yellow;"></i>Мотаюсь</a>
            </li>
            <li>
                <a href="#"><i class="icon16 color" style="background-color: yellow;"></i>Встречи</a>
            </li>
            <li>
                <a href="#"><i class="icon16 color" style="background-color: lime;"></i>Отпуск</a>
            </li>
            <li>
                <a href="#"><i class="icon16 color" style="background-color: lime;"></i>Прогулял</a>
            </li>
            <li>
                <a href="#"><i class="icon16 color" style="background-color: red;"></i>Болею</a>
            </li>
            <li>
                <a href="#" class="s-status-custom-status">[`Custom status...`]</a>
            </li>
        </ul>
    {/function}

</head>
<body>
    <div id="wa">
        {$wa->header()}
        <div id="wa-app">
            <section id="status-left-sidebar">{$sidebar_html}</section>
            <section id="status-content"></section>
            <div class="content left200px">

                <div class="s-week-summary">

                    <h5 class="heading align-center">[`This week`]</h5>

                    {include inline file='./../../include/week.donut.html' donut=$currentWeek->makeDonut()}

                </div>

                <!-- Tomorrow: SET TAG ONLY: Office / Remote / Ill / Day off / Custom tag -->
                <div class="s-tomorrow-planner">
                    <div class="float-right">
                        <ul class="menu-h dropdown">
                            <li>
                                <a href="#" class="inline-link gray"><b><i>[`Status`]</i></b> <i class="icon10 darr"></i></a>
                                {_draw_status_selector}
                            </li>
                        </ul>
                    </div>
                    <h3>
                        [`Tomorrow`]
                        <span class="hint">
                            {date('D', $smarty.now + 86400)}, {date('Y-m-d', $smarty.now + 86400)|wa_date:humandate}
                            <!-- <span title="[`Weekend`]">🏖️Sunday / Saturday</span> -->
                            <!-- <span title="[`Birthday`]">🎂Birtday</span> -->
                        </span>
                    </h3>
                </div>

                {foreach $currentWeek->getDays() as $day}
                    {include inline file='./../../include/day.show.html' day=$day}
                {/foreach}

                <!-- CHRONOLOGY -->

                {foreach $weeks as $week}
                    <div class="s-week-divider">
                        <h5 class="heading">WEEK #{$week->getNumber()}</h5>
                    </div>

                    <div class="s-week-summary">
                        <div class="block">
                            <h5 class="heading align-center">
                                {if $week->isCurrent()}THIS WEEK{else}WEEK #{$week->getNumber()}{/if}<br> SUMMARY
                            </h5>

                            {include inline file='./../../include/week.donut.html' donut=$week->makeDonut()}

                        </div>
                    </div>

                    {foreach $week->getDays() as $day}
                        {include inline file='./../../include/day.show.html' day=$day}
                    {/foreach}
                {/foreach}

            </div>
        </div>

        <script>
            'use strict';

            (function () {
                $.status.init({
                    account_name: '{$wa->accountName()|escape}',
                    isAdmin: {$isAdmin},
                    userId: {$wa->getUser()->getId()}
                })
            }());
        </script>
    </div>
</body>
</html>
