<ul class="menu-h dropdown" data-status-wrapper="statuses" data-status-today-status-date="{$statusDate}">
    <li>
        <a href="#" class="s-editor-status inline-link gray"{if isset($currentStatus) && $currentStatus->getCalendarId()} style="background-color: {$currentStatus->getBgColor()}; color: {$currentStatus->getFontColor()}"{/if} data-status-current><b><i><strong>{if isset($currentStatus) && $currentStatus->getCalendarId()}{$currentStatus->getName()|escape}{else}[`Status`]{/if}</strong></i></b> <i class="icon10 darr"></i></a>
        <ul class="menu-v with-icons s-status-selector">
            <li
                    data-status-calendar-id="0"
                    data-status-status-id="{if isset($currentStatus)}{$currentStatus->getStatusId()}{/if}"
            >
                <a href="#"><i class="icon16 color"></i>[`No status`]</a>
            </li>
            {foreach $statuses as $status}
                <li
                        {if isset($currentStatus) && $currentStatus->getCalendarId() == $status->getCalendarId()}class="selected"{/if}
                        data-status-calendar-id="{$status->getCalendarId()}"
                        data-status-status-id="{$status->getStatusId()}"
                >
                    <a href="#"><i class="icon16 color" style="background-color: {$status->getBgColor()};"></i>{$status->getName()|escape}</a>
                </li>
            {/foreach}
            <li>
                <a href="#" class="s-status-custom-status" data-status-action="custom-status">[`Custom status...`]</a>
            </li>
        </ul>
    </li>
</ul>
<script>
    'use strict';
    (function () {
        var bgColor = '{if isset($currentStatus)}{$currentStatus->getBgColor()}{/if}',
            fontColor = '{if isset($currentStatus)}{$currentStatus->getFontColor()}{/if}',
            $wrapper = $('[data-status-today-status-date="{$statusDate}"]');

        $wrapper.closest('.s-editor-status').css( { 'background-color' : bgColor, 'color' : fontColor } );
    }());
</script>
