<div class="dropdown small" data-status-wrapper="statuses" data-status-today-status-date="{$statusDate}">
    <a href="#" class="dropdown-toggle button rounded{if $statusDate != 'tomorrow'} large{/if} light-gray"{if isset($currentStatus) && $currentStatus->getCalendarId()} style="background-color: {$currentStatus->getBgColor()}; color: {$currentStatus->getFontColor()}"{/if} data-status-current>
        {if isset($currentStatus) && $currentStatus->getCalendarId()}{$currentStatus->getName()|escape|truncate:32}{else}{if $statusDate == 'tomorrow'}[`Status for tomorrow`]{elseif $statusDate == date('Y-m-d')}[`Status for today`]{else}[`Set daily status`]{/if}{/if}
    </a>
    <div class="dropdown-body">
        <ul class="menu s-status-selector">
            <li
                    data-status-calendar-id="0"
                    data-status-status-id="{if isset($currentStatus)}{$currentStatus->getStatusId()}{/if}"
            >
                <a href="#"><span class="icon"><i class="rounded"></i></span> <span>[`No status`]</span></a>
            </li>
            {foreach $statuses as $status}
                <li
                        {if isset($currentStatus) && $currentStatus->getCalendarId() == $status->getCalendarId()}class="selected"{/if}
                        data-status-calendar-id="{$status->getCalendarId()}"
                        data-status-status-id="{$status->getStatusId()}"
                >
                    <a href="#"><span class="icon"><i class="rounded" style="background-color: {$status->getBgColor()};"></i></span> <span>{$status->getName()|escape}</span></a>
                </li>
            {/foreach}
            <li>
                <a href="#" class="s-status-custom-status" data-status-action="custom-status">[`Custom status...`]</a>
            </li>
        </ul>
    </div>
</div>
<script>
    // 'use strict';
    // (function () {
    //     var bgColor = '{if isset($currentStatus)}{$currentStatus->getBgColor()}{/if}',
    //         fontColor = '{if isset($currentStatus)}{$currentStatus->getFontColor()}{/if}',
    //         $wrapper = $('[data-status-today-status-date="{$statusDate}"]');

    //     $wrapper.closest('.s-editor-status').css( { 'background-color' : bgColor, 'color' : fontColor } );
    // }());

    (function($) {
        $('[data-status-today-status-date="{$statusDate}"]').waDropdown({
            hover: false,
            items: ".menu > li > a"
        });
    })(jQuery);
</script>
